@import '../../../../styles/globalStyles';

.wrapper {
  margin-top: 26px;
  .box-action {
    position: relative;
    height: 92px;
    width: 100%;
    margin-bottom: 23px;
    border-radius: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    .link {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 22px 30px 22px 18px;

      .info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .img-icon{
          max-width: 52px;

          img{
            width: 100%;
            height: 100%;
          }
        }

        .text{
            padding-left: 15px;
            text-align: left;
            h4 {
              font-weight: 500;
              font-size: 20px;
              line-height: 22px;
              color: #fff;
            }

            p {
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
              color: #fff;
            }
        }

      }

      .icon-next{
        color: #fff;
        font-size: 18px;
      }
    }
  }

  .line {
    background: linear-gradient(180deg, #77e024 0%, #00b900 100%);
  }

  .fb {
    background: linear-gradient(180deg, #557ce0 0%, #1e50a6 100%);
  }

  .mail {
    background: linear-gradient(180deg, #ef8671 0%, #cc573f 100%);
  }
}

