.bingo{
    display: flex;
    align-items: center;
    padding-top: 44px;
    justify-content: space-around;
    flex-wrap: wrap;

    img{
        margin-bottom: 27px;
    }

    button{
        margin: 0 auto;
        a{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
        }
    }
}