@import '../../../../styles/globalStyles';
.bingo{
    display: flex;
    align-items: center;
    padding-top: 4.4rem;
    justify-content: space-around;
    flex-wrap: wrap;

    .img-main{
        padding: 10px 0;
        text-align: center;
        img{
            margin-bottom: 2.7rem;
            width: 36rem;
        }
    }

    button{
        margin: 0 auto;
        a{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
        }
    }

    @include mobile{
        padding: 0;
    }

    .list-game{
        width: 100%;
    }
}