@import '../../styles/globalStyles';

.title-tag{
    position: relative;
    height: 56px;
    line-height: 56px;

    .wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .tag-img{
            width: 35.78%;

            img{
                width: 100%;
            }
        }

        p{
            font-weight: 600;
            font-size: 34px;
            line-height: 41px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.25px;
            color: #365A97;

            @include mobile{
                font-size: 20px;
                line-height: 25px;
            }
        }
    }
    
}