@import "../../../styles/globalStyles";

.game-lobby {
  padding-top: 7px;
  .wrapper {
    .tab-menu {
      height: 58px;
      background: linear-gradient(
        180deg,
        #edf6ff 0%,
        #ffffff 53.65%,
        #f0f7ff 100%
      );
      box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .tab-action {
        box-shadow: unset;
        transition: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);

        img {
          margin-right: 10px;
        }
      }

      .active {
        z-index: 1;
      }
    }

    .tab-body {
      background: url("../../../assets/images/pages/home/game-lobby/place-bg.png")
        no-repeat;
      background-position-y: 13rem;
      background-size: contain;
      min-height: 435px;
      // overflow: hidden;
    }
  }

  // <-------------------- Responsive -------------------------> //

  @include mobile {
    .wrapper {
      display: flex;
      flex-wrap: nowrap;

      .tab-menu-mobile {
        flex: 20%;
        margin-top: 5px;

        .tab-action {
          width: 66px;
          height: 59px;
          border: 1px solid #ffffff;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 10px;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          margin-bottom: 16px;
          color: #717171;
          display: flex;
          align-items: center;
          margin-top: 0;
          img{
            width: 24px;
            margin-right: 2px;
          }
        }

        .active {
          font-weight: 600;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
          color: #fff;
          background: linear-gradient(180deg, #57d7ff 0%, #1e50a6 100%);
        }
      }

      .tab-body-mobile {
        flex: 80%;
        max-height: 455px;
        overflow: scroll;
        padding-left: 15px;
        padding-right: 10px;
        padding-top: 5px;
      }
    }
  }
}
