@import '../../../../styles/globalStyles';

.user-account {
  display: flex;
  align-items: center;
  position: relative;

  @include mobile{
    align-items: unset;
  }

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    max-width: 229px;
    width: 100%;
    margin-right: 18px;
    gap: 13px;

    .avatar {
      width: 40px;
      height: 40px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .info {
      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .tag-vip {
        width: 34px;
        height: 21px;
      }

      span {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }

      .member-center {
        margin-left: 8px;
      }

      .bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .balance{
          text-overflow: ellipsis;
          overflow: hidden;
          width: 80px;
          display: inline-block
        }
      }

    }
  }

  .sign-out-mobile{
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #F8E98E 0%, #F2D06F 100%);
    border-radius: 8px;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-right: 13px;
  }

  .message {
    position: relative;
    width: 27px;
    height: 21px;

    img {
      width: 100%;
      height: 100%;
    }

    .tick {
      position: absolute;
      top: 2px;
      right: -2px;
      z-index: 1;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #ff0000;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    }
  }
}

.dropdown-menu{
  position: absolute;
  top: 60px;
  left: -40px;
  z-index: 10;
}

.info-member{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #365A97;
  display: flex;
  align-items: center;
  margin-top: 8px;
  padding: 0 16px;
  justify-content: space-between;

  .tag-vip {
    width: 34px;
    height: 21px;
    margin-left: 10px;
  }
}
