.user-account {
  display: flex;
  align-items: center;
  position: relative;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 229px;
    margin-right: 18px;

    .avatar {
      width: 40px;
      height: 40px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .info {
      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .tag-vip {
        width: 34px;
        height: 21px;
      }

      span {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }

      .member-center {
        margin-left: 8px;
      }
    }
  }

  .message {
    position: relative;
    width: 27px;
    height: 21px;

    img {
      width: 100%;
      height: 100%;
    }

    .tick {
      position: absolute;
      top: 2px;
      right: -2px;
      z-index: 1;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #ff0000;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    }
  }
}

.user-dropdown {
  position: absolute;
  top: 60px;
  left: -40px;
  padding: 20px;
  z-index: 10;
  width: 285px;
  height: 689px;
  background: linear-gradient(180deg, #edf6ff 0%, #ffffff 53.65%, #f0f7ff 100%);
  border: 3px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link {
      .action {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-weight: 700;
        font-size: 25px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #ffffff;
        margin-bottom: 3px;
        transition: all 0.2s;

        &:hover {
          opacity: 0.5;
        }
      }

      p {
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #000000;
      }
    }
  }

  .body {
    padding-top: 15px;

    .item {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      .name{
        display: flex;
        margin-left: 27px;
        flex-direction: column;
          h4 {
            font-weight: 400;
            font-size: 20px;
            line-height: 22px;
            color: #000000;
          }

          p{
            color: #575757;
            font-size: 11px;
          }
      }


      .icon-item {
        width: 48px;
        height: 48px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
        background: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .sign-out {
    width: 245px;
    height: 44px;
    border: 2px solid #365a97;
    border-radius: 100px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #365a97;
    transition: all 0.3s;

    &:hover {
      background: #365a97;
      color: #fff;
    }
  }
}
