@import '../../../../styles/globalStyles';

.user-account {
  display: flex;
  align-items: center;
  position: relative;

  @include mobile{
    align-items: unset;
  }

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    max-width: 22.9rem;
    margin-right: 1.8rem;

    @include tablet{
      margin-right: 1rem;
    }

    .avatar {
      width: 4rem;

      img {
        width: 100%;
        height: 100%;

        @include tablet{
          width: 90%;
          height: 90%;
        }
      }
    }

    .info {
      margin-left: 1.3rem;
      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .phone{
          @include tablet{
            font-size: 1.4rem;
          }
        }
      }
      .tag-vip {
        width: 3.4rem;
        height: 2rem;
      }

      .bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;

        svg{
          transition: transform .5s;
        }
        .balance{
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 8rem;
          display: inline-block;
          font-size: 1.4rem;
        }

        .member-center {
          margin-left: 8px;
          font-size: 1.4rem;
          display: flex;
          align-items: center;
          gap: 3px;
  
          @include tablet{
            gap: 0;
            font-size: 1rem;
            margin-left: 2px;
  
            svg{
              width: 1.1rem;
            }
          }
        }
      }

      .active{
        svg{
          transform: rotate(180deg);
        }
      }

      @include tablet{
        margin-left: 1rem;
      }

    }
  }

  .sign-out-mobile{
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #F8E98E 0%, #F2D06F 100%);
    border-radius: 8px;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-right: 13px;
  }

  .message {
    position: relative;
    width: 2.7rem;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }

    .tick {
      position: absolute;
      top: 2px;
      right: -2px;
      z-index: 1;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #ff0000;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    }
  }
}

.dropdown-menu{
  position: absolute;
  top: 6rem;
  left: -4rem;
  z-index: 10;

  @include tablet{
    left: -7rem;
  }
}

.info-member{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #365A97;
  display: flex;
  align-items: center;
  margin-top: 8px;
  padding: 0 16px;
  justify-content: space-between;

  .tag-vip {
    width: 34px;
    height: 21px;
    margin-left: 10px;
  }
}
