.footer{
    background-color: #3D445E;
    min-height: 218px;
    color: #858A9A;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 7px;
    position: relative;

    &__logo{
        display: flex;
        align-items: center;
        justify-content: center;
        
        .image-logo{
            margin: 0 12px;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    &__content{
        padding: 8px 0;
        display: inline-block;
        p{
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            letter-spacing: 1%;
        }
        // border-bottom: 1px solid #333B58;
    }

    &__tab-link{
        
        .list-item{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 8px 0;

            .item-link{
                padding: 0 11px;
                position: relative;

                &::before{
                    position: absolute;
                    content: '';
                    bottom: 0;
                    right: 0;
                    width: 2px;
                    height: 20px;
                    background: #858A9A;
                }
                
                a{
                    letter-spacing: 0.8px;
                    color: #858A9A;
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 500;
                }

                &:last-child{
                    &::before{
                        content: unset;
                    }
                }
                
            }
        }
    }

    .line{
        max-width: 782px;
        height: 1px;
        background: #333B58;
        border: none;
        margin: 0 auto;
    }

    &__copyright{
        font-size: 12px;
        line-height: 24px;
        font-weight: 500;
    }
}