@import '../../../../styles/globalStyles';
.about-us{
    padding: 11px 103.5px 0;

    .image-head{
        margin: 0 auto;
        width: 185px;
        height: 68px;
    
        img{
            width: 100%;
            height: 100%;
        }
    }
    
    .descripton{
    
        p{
            padding-top: 19px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.01em;
            color: #717171;
        }
    }

    @include mobile{
        padding: 0 11px;
    }
}