@import '../../../styles/globalStyles';

@mixin text-linear {
    background: linear-gradient(180deg, #557CE0 0%, #1E50A6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header{
    background: linear-gradient(180deg, #FFFFFF 0%, #EEEEEE 100%);

    @include mobile{
        background: transparent;
    }
}

.wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;

    .navbar{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        flex: 1;


        .nav-logo{
            width: 100px;
            height: 36px;
    
            img{
                width: 100%;
                height: 100%;
            }
        }

        .nav-list{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 41px;
            margin-right: 45px;
            width: 555px;
            height: 100%;
        }

        .nav-item{
            height: 100%;
            button, a{
                height: 100%;
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                color: #000;
                transition: all .4s;

                img{
                    margin-left: 3px;
                }
            }

            a{
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &:hover{
                button, a{
                   @include text-linear();
                }
            }
        }

        .active{
            position: relative;
            button, a{
                @include text-linear();
            }

            &::before{
                position: absolute;
                content: '';
                height: 5px;
                width: 100%;
                bottom: 0;
                left: 0;
                background: linear-gradient(180deg, #557CE0 0%, #1E50A6 100%);
                border-radius: 100px;
            }
        }


    }

}
