@import "../../../styles/globalStyles";

@mixin text-linear {
  background: linear-gradient(180deg, #557ce0 0%, #1e50a6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header {
  background: linear-gradient(180deg, #ffffff 0%, #eeeeee 100%);

  @include mobile {
    background: transparent;
  }
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.5rem;

  .navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex: 1;

    .nav-logo {
      max-width: 10rem;
      height: 3.6rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .nav-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 4.1rem;
      margin-right: 4.5rem;
      width: 55.5rem;
      height: 100%;

      @include tablet{
        margin-left: 2rem;
        margin-right: 2rem;
      }
    }
    .nav-item {
      height: 100%;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.4rem;
      color: #000;
      transition: all 0.4s;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        margin-left: 0.3rem;
        width: 1.2rem;
      }

      &:hover {
        @include text-linear();
      }
    }

    .active {
      position: relative;

      @include text-linear();

      &::before {
        position: absolute;
        content: "";
        height: 0.5rem;
        width: 100%;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, #557ce0 0%, #1e50a6 100%);
        border-radius: 100px;
      }
    }
  }
}
