@import "../../styles/globalStyles";

.game-intro {
  padding-top: 14px;
  padding-bottom: 45px;

  .tag-title {
    margin-bottom: 27px;
  }

  .wrapper {
    .list-games {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      .item-game {
        width: 18.5%;
        margin-bottom: 14px;

        @include mobile {
          width: 48%;

          .image-game {
            img {
              max-width: 90%;
            }
          }
        }

        .action {
          .image-game {
            display: flex;
            align-items: center;
            overflow: hidden;
            justify-content: center;
            margin-bottom: 1.3rem;
            max-width: 18.5rem;
            height: 16rem;

            img {
              @include tablet {
                max-width: 80%;
                max-height: 80%;
              }
            }
          }
        }

        .name {
          font-size: 2rem;
          color: #000;
          text-align: center;
        }
      }
    }
  }
}
