[class^="btn"]{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 0 60px;
    font-size: 16px;
    line-height: 18px;
    color: #252525;
    border: 1px solid #B5B5B5;
    border-radius: 8px;
    text-align: center;
    transition: all .2s;
    font-weight: 500;
    &:disabled{
        opacity: .5;
        cursor: no-drop;
    }
    &:hover{
        border: 1px solid #252525;
    }
        
}

.btn-pinkdary{
    background: #E85B81;
    color: #fff;
    border: none;

    &:hover{
        background: #C12F5D;
        border: none;
    }

    &:disabled{
        opacity: .5;
        cursor: no-drop;
    }
}

.btn-secondary{
    background: #5E48E8;
    color: #fff;
    border: none;

    &:hover{
        background: #5028C6;
        border: none;
    }

    &:disabled{
        opacity: .5;
        cursor: no-drop;
    }
}

.btn-primary{
    background: #48629C;
    color: #fff;
    border: none;

    &:hover{
        background: #314C87;
        border: none;
    }

    &:disabled{
        opacity: .5;
        cursor: no-drop;
    }
}

.bg-blue{
    background: radial-gradient(63.11% 63.11% at 31.97% 19.67%, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%), #22A7FB;
    color: #ffffff;
}