@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Titillium+Web:wght@300;600;900&display=swap');

@import 'normalize.css';
@import './responsive';
@import './variable';
@import './container';
@import './button';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



html{
	font-size: 62.5%; // ==> 1rem = 10px

	&::-webkit-scrollbar {
		width: 5px;
    	height: 5px;
		border-radius: 1vw;
	}
	/* Track */
	&::-webkit-scrollbar-track {
		background-color: rgba(0, 0, 0, 0.2);
		border-radius: 6px;
	}
	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: rgba(0, 0, 0, 0.3);
		border-radius: 6px;
	}
	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: rgba(0, 0, 0, 0.2);
	}

	@media only screen and (max-width: 1024px) {
		font-size: 50%;
	}
}

div, input, textarea, select,button,
h1,h2,h3,h4,h5,h6,a,span,a:focus{
    outline: none
}

input[type="submit"],
button{
    background: none;
    cursor: pointer;
    &::-moz-focus-inner{
        padding: 0;
        border: 0;
	}
}

input, button{
	margin: 0;
    padding: 0;
    border: 0;
}
    
textarea{
    overflow: auto;
}

a{
    text-decoration: none;
}

svg,img{
    vertical-align: middle;
}

ul,ol{
	list-style-type: none;
}
table{
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

body{
	font-family: 'Noto Sans TC', sans-serif;
    min-width: 375px;
	background: $colorbasic8;
	font-size: 1.6rem;
    line-height: 1.5;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: $colorbasic2;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 500;
	color: #252525;
}

h1{
	font-size: 50px;
	letter-spacing: -.02em;
	line-height: 1;
}

h2{
	font-size: 38px;
	letter-spacing: -.02em;
	line-height: 45px;
}

h3{
	font-size: 28px;
	letter-spacing: -.01em;
	line-height: 33px;
}

h4{
	font-size: 21px;
	letter-spacing: -.01em;
	line-height: 25px;
}

.bg-normal-linear{
	background: linear-gradient(180deg, #EDF6FF 0%, #FFFFFF 53.65%, #F0F7FF 100%);
	border: 3px solid #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
}


