$_sm: 320px; // small mobile
$_m: 768px; // mobile
$_t: 1024px; // tablet
$_d: 1179px; // desktop
$_x: 1339px;
$_w: 1419px;

@mixin small-mobile {
    @media only screen and (max-width: #{$_sm}) {
        @content;
    }
}

@mixin mobile {
    @media only screen and (max-width: #{$_m}) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: #{$_t}) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (max-width: #{$_d}) {
        @content;
    }
}