@import "../../../../styles/globalStyles";

.sports {
  display: flex;
  align-items: center;
  padding-top: 10px;
  justify-content: space-around;
  flex-wrap: wrap;

  .img-main {
    span {
      position: absolute;
      top: 40%;
      left: 45%;
      width: 50%;
      background: url("../../../../assets/images/pages/home/game-lobby/physical/place-sports.png")
        no-repeat;
      height: 16rem;
      background-position: top;
      background-size: cover;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
    padding: 10px 0;
    text-align: center;

    img {
      margin-bottom: 10px;
      width: 27.4rem;
    }
  }

  button {
    margin: 0 auto;
    a {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    }
  }

  @include mobile {
    padding: 0;
  }

  .list-game {
    width: 100%;
  }
}
