@import '../../../../styles/globalStyles';
.fishing{
    display: flex;
    align-items: center;
    padding-top: 20px;
    justify-content: space-around;
    flex-wrap: wrap;

    .img-main{
        padding: 10px 0;
        text-align: center;
        img{
            margin-bottom: 10px;
            max-width: 39rem;
            height: 25.7rem;
        }
    }


    button{
        margin: 0 auto;
        a{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
        }
    }

    // < --------------- Mobile ----------------> //
    @include mobile{
        padding: 0;
    }

    .list-game{
        width: 100%;
    }
}