@import '../../../styles/globalStyles';

.about-boheaven{
    padding-top: 23px;
    padding-bottom: 47px;
}

.wrapper{
    position: relative;
    width: 100%;
    height: 395px;
    background: linear-gradient(180deg, #EDF6FF 0%, #FFFFFF 53.65%, #F0F7FF 100%);
    border: 2px solid #FFFFFF;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.25), 0px 0px 40px #FFFFFF;
    border-radius: 8px;
    padding: 30px 0;

    .change-tabs{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        button{
            margin: 0 12.5px;
        }
    }

    .bubble{
        position: absolute;

        img{
            width: 100%;
            height: 100%;
        }

        &__ball{
            width: 12.8rem;
            height: 12rem;
            left: 9rem;
            top: 2.8rem;
        }

        &__18{
            width: 12.4rem;
            height: 12rem;
            left: -10rem;
            top: 18.8rem
        }

        &__dice{
            width: 8rem;
            height: 7.7rem;
            right: 13.7rem;
            top: 1.1rem;
        }

        &__mahjong{
            width: 13.6rem;
            height: 13.2rem;
            bottom: -2.1rem;
            right: -6.8rem;
        }

        @include mobile{
            &__dice{
                right: 7px;
                 top: -31px;
            }
            &__18{
                left: -74px;
                top: 272px;
            }
            &__ball{
                left: -38px;
                top: 68px;
            }
        }
    }

    @include mobile{
        height: auto;
    }

}