@import "../../../styles/globalStyles";

.wrapper {
  width: 90%;
  margin-left: 61px;

  .fiel {
    display: flex;
    height: 40px;
    align-items: center;
    background: #365a97;
   
    .title {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      color: #ffffff;
      padding-left: 190px;
    }
    .time {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      padding-left: 570px;
    }
  }
  .tableTab {
    .block1 {
      display: flex;
      font-family: "Roboto";
      .subject {
        width: 78%;
        padding-left: 60px;
        padding-top: 10px;
        letter-spacing: 3px;
        font-family: "Roboto";
      }
      .date {
        width: 22%;
        padding-left: 55px;
        padding-top: 5px;
        padding-right: 45px;
        letter-spacing: 1px;
        font-family: "Roboto";
      }
      table {
        font-family: "Roboto";
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        text-align: left;
        padding: 8px;
      }
      tr:nth-child(even) {
        background: #eaeaea;
      }
    }
  }
  .block-trans2 {
    padding: 10px 5px 10px 35px;
    text-align: center;

    &__ont1 {
      opacity: 0.6;
    }
    .block {
      display: flex;
      padding-left: 300px;
      margin-top: 15px;
      margin-bottom: 60px;
      p {
        border: 1px solid;
        padding: 1px 12px 4px 7px;
        text-align: center;
        justify-content: center;
        margin-left: 3px;
        border-radius: 5px;
        line-height: 20px;
        font-weight: 700;
        font-size: 14px;
        font-family: "SF Pro Text";
      }
    }
  }
}
/////////////////Responsive Mobile//////////////////
@include mobile {
  .wrapper {
    width: 90%;
    margin-left: 10px;
    .fiel {
      display: flex;
      width: 370px;
      height: 40px;
      background: #365a97;
      
      .title {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        padding-left: 100px;
      }
      .time {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        padding-left: 155px;
      }
    }
    .tableTabMobile {
      padding-left: 20px;
      padding-top: 10px;
      letter-spacing: 2px;
      font-family: "Roboto";
      .subject {
        width: 65%;
        padding-top: 10px;
        font-family: "Roboto";
      }
      .date{  
        width: 35%;
        padding-left: 25px;
      }
      table {
        font-family: "Roboto";
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        text-align: left;
        padding: 8px;
      }
      tr:nth-child(even) {
        background: #eaeaea;
      }
    }
    .block-trans2{
      visibility: hidden;
    }
  }
}
