.control{
    display: flex;
    align-items: center;
    justify-content: center;

    a{
        width: 7rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        margin-right: 0.9rem;
        transition: all .3s;
        font-weight: 500;
    }

    .btn-login{
        background: linear-gradient(180deg, #57D7FF 0%, #1E50A6 100%);
        color: #fff;

        &:hover{
            opacity: 0.6;
        }
    }

    .btn-register{
        background: linear-gradient(180deg, #F8E98E 0%, #F2D06F 100%);
        color: #000;
        &:hover{
            opacity: 0.6;
        }
    }
}