.wrapper {
  .fiel {
    .content-item {
      bottom: 30px;
      position: absolute;
      z-index: 1;
      padding: 200px 30px 0 210px;
      bottom: 300px;
      top: 25px;
      .title-content {
        h3 {
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 50px;
          line-height: 61px;
          color: #ffffff;
        }
        .title2 {
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 0.15px;
          color: #ffffff;
        }
      }
      .description-content {
        display: flex;
        background-color: #ffffff;
        height: 35px;
        justify-content: flex-start;
        padding: 5px;
        text-align: center;
        align-items: center;
        .go-now {
        }
        .description {
          display: flex;
          .description1 {
          }
          .img-icon {
            width: 20px;
          }
        }
      }
    }
  }
  .block {
    text-align: center;
    .tag-name {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 34px;
      line-height: 41px;
      letter-spacing: 0.25px;
      color: #365a97;
    }
    .tag-head {
      color: #365a97;
      font-family: "Inter";
      font-style: normal;
      font-weight: bold;
      font-size: 34px;
      line-height: 41px;
      letter-spacing: 0.25px;
      padding: 20px;
    }
    .wrapper-block {
      display: flex;
      .block-left {
        padding-right: 30px;
      }
      .block-right {
        .rigth1 {
          background: linear-gradient(
            180deg,
            #edf6ff 0%,
            #ffffff 53.65%,
            #f0f7ff 100%
          );
          h4 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 700;
            font-size: 25.6988px;
            padding-bottom: 5px;
          }
          border: 1px solid #ffffff;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 8px;
          justify-content: flex-start;
          text-align: left;
          letter-spacing: 2px;
          padding: 15px;
          .content1 {
            padding-bottom: 10px;
          }
        }
        .block-btn {
          display: flex;
          padding: 10px 20px 0px 70px;
          a {
            background: url(../../../assets/images/pages/game-intro/img-Allbet/button.png);
            background-size: cover;
            background-repeat: round;
            box-shadow: none;
            color: #ffffff;
            // box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
            flex-direction: row;
            align-items: flex-start;
            padding: 13px 35px;
            justify-content: center;
            line-height: 50px;
            margin: 15px;
            align-items: center;
            text-align: center;
            letter-spacing: 0.15px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            border-radius: 100px;
            cursor: pointer;
          }
          .active {
            background: url(../../../assets/images/pages/game-intro/img-Allbet/button.png);
            background-size: cover;
            background-repeat: round;
            box-shadow: none;

            .tab-pagename {
              color: #fff;
            }
          }
        }
      }
    }
  }
  .block2 {
    text-align: center;
    .tag-name {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 34px;
      line-height: 41px;
      letter-spacing: 0.25px;
      color: #365a97;
    }
    .wrapper-block {
      display: flex;
      .block-left {
        padding: 20px 0px 0 0;
        .block-title {
          display: flex;
          border-bottom: 1px solid blue;
          background: linear-gradient(
            180deg,
            #edf6ff 0%,
            #ffffff 53.65%,
            #f0f7ff 100%
          );
          box-shadow: 0px 0px 4px rgb(0 0 0 / 12%);
          border-radius: 8px;
          align-items: center;
          width: 540px;
          height: 35px;
          padding: 5px 20px 5px 150px;
          .title {
            font-size: 21px;
            letter-spacing: -0.01em;
            line-height: 25px;
            padding-right: 180px;
            padding-left: 30px;
          }
          .icon {
          }
        }
      }
      .block-right {
        .rigth1 {
          background: linear-gradient(
            180deg,
            #edf6ff 0%,
            #ffffff 53.65%,
            #f0f7ff 100%
          );
          h4 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 700;
            font-size: 25.6988px;
            padding-bottom: 5px;
          }
          border: 1px solid #ffffff;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 8px;
          justify-content: flex-start;
          text-align: left;
          letter-spacing: 2px;
          padding: 15px;
          .content1 {
            padding-bottom: 10px;
          }
        }
        .block-btn {
          display: flex;
          padding: 10px 20px 0px 70px;
          a {
            background: url(../../../assets/images/pages/game-intro/img-Allbet/button.png);
            background-size: cover;
            background-repeat: round;
            box-shadow: none;
            color: #ffffff;
            // box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
            flex-direction: row;
            align-items: flex-start;
            padding: 13px 35px;
            justify-content: center;
            line-height: 50px;
            margin: 15px;
            align-items: center;
            text-align: center;
            letter-spacing: 0.15px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            border-radius: 100px;
            cursor: pointer;
          }
          .active {
            background: url(../../../assets/images/pages/game-intro/img-Allbet/button.png);
            background-size: cover;
            background-repeat: round;
            box-shadow: none;

            .tab-pagename {
              color: #fff;
            }
          }
        }
      }
    }
  }
  .block3 {
    text-align: center;
    padding-top: 10px;
    .tag-name {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 34px;
      line-height: 41px;
      letter-spacing: 0.25px;
      color: #365a97;
    }
    .wrapper-block {
      .content {
        text-align: left;
        p {
          padding: 10px 0 10px 0;
        }
      }
      .block-content {
        display: flex;
        h4 {
          padding: 0 0 10px 0;
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
          text-align: center;
          letter-spacing: 0.15px;
          color: #365a97;
        }
        p {
          font-family: "Noto Sans TC";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: #333333;
          padding: 10px 25px 10px 30px;
          text-align: left;
          width: 370px;
        }
      }
    }
  }
  .block4 {
    text-align: center;
    padding-top: 10px;
    .tag-name {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 34px;
      line-height: 41px;
      letter-spacing: 0.25px;
      color: #365a97;
    }
    .wrapper-block {
      display: flex;
      .block-left {
        padding: 20px 0px 0 0;
        .block-title {
          display: flex;
          background: linear-gradient(
            180deg,
            #edf6ff 0%,
            #ffffff 53.65%,
            #f0f7ff 100%
          );
          box-shadow: 0px 0px 4px rgb(0 0 0 / 12%);
          border-radius: 8px;
          align-items: center;
          width: 540px;
          height: 35px;
          padding: 5px 20px 5px 150px;
          .title {
            font-size: 21px;
            letter-spacing: -0.01em;
            line-height: 25px;
            padding-right: 180px;
            padding-left: 30px;
          }
        }
      }
      .block-right {
        padding: 5px 0 20px 0;
        .block-title {
          text-align: left;
          h4 {
            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            color: #365a97;
          }
          p {
            font-family: "Noto Sans TC";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #333333;
            padding: 10px 0 10px 0;
          }
          .block {
            margin: 5px 0 10px 0;
            .block1 {
              display: flex;
              background: linear-gradient(180deg, #81dcff 0%, #4da8ff 100%);
              border-radius: 8px;
              margin: 0 0 10px 0;
              text-align: left;
              .content {
                padding-top: 20px;
                p {
                  margin: 0 0 0 10px;
                  font-family: "Inter";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 7px;
                  letter-spacing: 0.01em;
                  color: #ffffff;
                }
              }
              img {
                padding: 5px 15px 5px 20px;
              }
            }
            .block2 {
              display: flex;
              background: linear-gradient(180deg, #557ce0 0%, #1e50a6 100%);
              border-radius: 8px;
              margin: 0 0 10px 0;
              text-align: left;
              .content {
                padding-top: 20px;
                p {
                  margin: 0 0 0 10px;
                  font-family: "Inter";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 7px;
                  letter-spacing: 0.01em;
                  color: #ffffff;
                }
              }
              img {
                padding: 5px 15px 5px 20px;
              }
            }
          }
        }
      }
    }
  }
  .wrapper-block {
    .fiel {
      display: flex;
      height: 40px;
      align-items: center;
      background: #365a97;
      margin: 0px -50px 0 30px;
      .title {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        padding-left: 230px;
      }
      .time {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        padding-left: 585px;
      }
    }
    .tableTab {
      margin: 0 -50px 0 30px;
      .block1 {
        display: flex;
        font-family: "Roboto";
        .subject {
          width: 74%;
          padding-left: 50px;
          padding-top: 10px;
          text-align: left;
          letter-spacing: 3px;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #000000;
        }
        .date {
          width: 30%;
          padding-left: 65px;
          padding-top: 5px;
          padding-right: 45px;
          letter-spacing: 1px;
        }
        table {
          font-family: "Roboto";
          border-collapse: collapse;
          width: 100%;
        }

        td,
        th {
          text-align: left;
          padding: 8px;
        }
        tr:nth-child(even) {
          background: #eaeaea;
        }
      }
    }
    .block-trans2 {
      padding: 10px 5px 10px 35px;
      text-align: center;

      &__ont1 {
        opacity: 0.6;
      }
      .block {
        display: flex;
        padding-left: 350px;
        margin-top: 15px;
        margin-bottom: 20px;
        p {
          border: 1px solid;
          padding: 1px 12px 4px 7px;
          text-align: center;
          justify-content: center;
          margin-left: 3px;
          border-radius: 5px;
          line-height: 20px;
          font-weight: 700;
          font-size: 14px;
          font-family: "SF Pro Text";
        }
      }
    }
  }
}
