
.wrapper{
    .navbar-tab{
        padding: 12px 32px 23px;
        h4{
            font-weight: 400;
            font-size: 20px;
            line-height: 22px;
            color: #000;
        }
    }

    .tabPanel{

    }
}