.deposit{
    margin-left: 17px;

    .box-group{
        margin-bottom: 22px;
    }

    .payment-method{
        display: flex;
        align-items: center;
        gap: 23px;
        justify-content: flex-start;

        .btn-change{
            position: relative;
            background: #EAEAEA;
            border: 1px solid #CECECE;
            border-radius: 8px;
            width: 162px;
            height: 139px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: background .2s;
            overflow: hidden;

            .image-method{
                max-height: 100px;
                margin-bottom: 10px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }

            span{
                position: absolute;
                bottom: 11px;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #365A97;
            }
        }

        .active{
            background: #fff;
            border-color: #365A97;

            .ic-active-check{
                position: absolute;
                width: 32px;
                height: 32px;
                top: -3px;
                left: -2px;
                background: linear-gradient(180deg, #57D7FF 0%, #1E50A6 100%);
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 16px;
            }
        }
    }

    .method-payment{
        padding-top: 6px;

        .drop-option{
            max-width: 425px;
        }

    }

    .deposit-amount{
        .input-deposit{
            height: 38px;
            max-width: 425px;
            background: #FFFFFF;
            border: 1px solid #CECECE;
            border-radius: 4px;
            display: flex;
            align-items: center;
            overflow: hidden;
            padding-left: 16px;
            gap: 10px;

            input{
                width: 100%;
                height: 100%;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: #717171;
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button{
                    margin: 0;
                    -webkit-appearance: none;
                }
            }
        }

        .deposit-now{
            background: #365A97;
            border-radius: 8px;
            max-width: 262px;
            width: 100%;
            height: 45px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            margin: 12px 0;
        }

        .customer-service{
            button,span {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
            }
            
            button{
                color: #365A97;
            }
        }
    }

    .notes{
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #FF5F7B;
    }


}