@import '../../../../styles/globalStyles';
.app-download{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 13rem;
    padding-right: 18.4rem;
    padding-top: 1rem;

    @include tablet{
        padding-right: 13rem;
    }

    @include mobile{
        display: block;
        padding: 0 11px;
    }

    .image{
        width: 42.8rem;
        height: 30rem;

        @include mobile{
            width: 100%;
            height: 100%;
        }

        img{
            width: 100%;
            height: 100%;
        }
    }

    .card-download{
        background: linear-gradient(180deg, #FCFEFD 0%, #F0F2FF 25.52%, #E2E5F8 52.08%, #F0F2FF 81.77%, #F1F3FF 100%);
        border: 2px solid #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        padding: 15px;

        button{
            width: 25.8rem;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
            border-radius: 4px;
            color: #FFFFFF;
            font-weight: 600;
            font-size: 2rem;
            line-height: 2.8rem;

            @include mobile{
                width: 100%;
            }
        }

        .normal{
            padding: 2.2rem 0;
            margin-bottom: 2rem;
            background: radial-gradient(63.11% 63.11% at 31.97% 19.67%, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%), #22A7FB;
        }

        .ios{
            padding: 0.8rem 0;
            margin-bottom: 1.2rem;
            background: linear-gradient(180deg, #D3D3D3 0%, #9B9B9B 100%);
        }

        .android{
            padding: 0.8rem 0;
            margin-bottom: 1.6rem;
            background: linear-gradient(180deg, #B6D96C 0%, #5C7624 100%);
        }

        p{
            text-align: center;
            letter-spacing: 0.01em;
            color: #939393;
        }
    }
}