.sidebar{
    position: fixed;
    top: 117px;
    right: 11px;
    z-index: 999;

    .link{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #000;
        text-align: center;
        margin-bottom: 15px;
        .image{
            width: 80px;
            height: 80px;
          
            img{
                width: 100%;
                height: 100%;
            }
        }

        p{
            margin-bottom: 15px;
        }
    }

    
}