.sidebar{
    position: fixed;
    top: 11.7rem;
    right: 1rem;
    z-index: 999;

    .link{
        font-weight: 500;
        color: #000;
        text-align: center;
        margin-bottom: 1.5rem;
        .image{
            width: 8rem;
            height: 8rem;
          
            img{
                width: 100%;
                height: 100%;
            }
        }

        p{
            margin-bottom: 1.5rem;
        }
    }

    
}

.space{
    width: 100%;
    height: 65px; 
}

.navigation-menu{
    position: fixed;
    bottom: -1px;
    left: 0;
    height: 65px;
    width: 100%;
    z-index: 100;
    background: linear-gradient(180deg, #FFFFFF 0%, #EEEEEE 100%);
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 8px 8px 0px 0px;
    padding: 0 22px;

    .list-navigate{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        a, button{
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            color: #717171;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .image-icon{
            max-width: 30px;
            max-height: 30px;
            img{
                width: 100%;
                height: 100%;
            }
        }

        .active{
            color: #365A97;
        }
    }
}