.box-info{
    margin-bottom: 27px;

    .title-head{
        padding: 12px 27px;
        span {
            font-weight: 400;
            font-size: 20px;
            line-height: 22px;
            color: #000;
        }
    }

    hr {
      background: #cecece;
      height: 3px;
      border: none;
    }

    .body{
        padding: 12px 27px;
    }
}