
.card-item{
    position: relative;
    width: 100%;
    height: 134px;
    background: url('../../assets/images/global/background-main-attactment.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    margin-bottom: 16px;
    text-align: center;
    .btn-item{
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    .group-item{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .info-game{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 1;
            .logo{
                width: 40px;
                height: 40px;
                background: linear-gradient(180deg, #57D7FF 0%, #1E50A6 100%);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12), inset 0px -3px 0px rgba(255, 255, 255, 0.7);
                border-radius: 8px;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .title{
                font-weight: 600;
                font-size: 16px;
                line-height: 25px;
                color: #3381C6;
            }

            .tag{
                font-weight: 500;
                font-size: 8px;
                line-height: 8px;
                letter-spacing: 0.01em;
                color: #CECECE;
            }
        }

        .banner-game{
            position: relative;
            height: 100%;
            display: flex;
            align-items: end;
            justify-content: center;
            .category{
                font-family: 'Arbutus',cursive;
                text-transform: uppercase;
                position: absolute;
                top: 0;
                right: 5px;
                z-index: -1;
                font-weight: 400;
                font-size: 48px;
                line-height: 48px;
                letter-spacing: 0.25px;
                color: #D7E9FF;
            }
            .image{
                max-width: 155px;
                height: 90%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            
        }
    }
}

.card-col-2{
    width: 48%;

    .group-item{
        justify-content: space-between;
        width: 130%;
        .banner-game{
            transform: translateX(-35px);
            .category{
                font-size: 24px;
                line-height: 30px;
            }

            .image{
                max-width: 120px;
                height: 70%;
            }
        }
    }

}