@import '../../styles/globalStyles';

.menu-profile {
  padding: 2rem 0;
  width: 28.5rem;

  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.7rem;

    .avatar {
      width: 8rem;
      height: 8rem;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .information {
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      .member {
        display: flex;
        justify-content: space-between;
        width: 45%;
        .tag-vip {
          width: 3.4rem;
          height: 2.1rem;
        }
      }

      .balance {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        width: 45%;
      }
    }
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;

    .link {
      .action {
        width: 5rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 2.4rem;
        letter-spacing: 0.1px;
        color: #ffffff;
        margin-bottom: 3px;
        transition: all 0.2s;

        &:hover {
          opacity: 0.5;
        }
      }

      p {
        text-align: center;
        font-weight: 500;
        letter-spacing: 0.1px;
        color: #000000;
      }
    }
  }

  .body {
    padding-top: 1.5rem;

    .item {
      display: flex;
      align-items: center;
      padding: 0.8rem 2rem;
      transition: all .2s ease;

      &:hover{
        background: #365a97;
        .name {
          h4,
          p {
            color: #fff;
          }
        }
      }

      .name {
        display: flex;
        margin-left: 2.7rem;
        flex-direction: column;
        h4 {
          font-weight: 400;
          font-size: 2rem;
          line-height: 2.2rem;
          color: #000000;
        }

        p {
          color: #575757;
          font-size: 1rem;
        }
      }

      .icon-item {
        width: 4.8rem;
        height: 4.8rem;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
        background: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include tablet{
          img{
            width: 2.4rem;
          }
        }
      }
    }

    .active {
      background: #365a97;
      .name {
        h4,
        p {
          color: #fff;
        }
      }
    }
  }

  .sign-out {
    width: 24.5rem;
    height: 4.4rem;
    border: 2px solid #365a97;
    border-radius: 100px;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 0.01em;
    color: #365a97;
    transition: all 0.3s;
    display: block;
    margin: 0 auto;
    margin-top: 1.5rem;

    &:hover {
      background: #365a97;
      color: #fff;
    }
  }
}
