@import '../../../../styles/globalStyles';

.electronic{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 15px;
    width: 70%;
    margin: 0 auto;

    .item{
        width: 33.33%;

        .item-img{
            width: 171px;
            margin: 0 auto;
            height: 116px;
            img{
                width: 100%;
                height: 100%;
            }

        }

    }

    button{
        margin: 0 auto;
        margin-bottom: 10px;
        a{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
        }
    }

    @include mobile{
        margin: 0;
        width: 100%;
        padding: 0;
    }
}