.problem-item{
    padding: 0.8rem 2rem;
    .action-collapse{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        p{
            font-family: 'Noto Sans TC';
            color: #000;
        }

        .icon{
            width: 1.2rem;
            height: 1.2rem;
            transition: all .3s;
        }

    }

    .content{
        max-height: 0;
        overflow: hidden;
        transition: all .5s;
        p{
            color: #575757;
            padding: 1rem;

            &:last-child{
                padding-bottom: 0;
            }
        }
    }


}
.active{
    .icon{
        transform: rotateZ(90deg);
    }

    .content{
       max-height: 50rem;
       overflow: auto;

       &::-webkit-scrollbar{
        display: none;
       }
    }
}