@import "../../styles/globalStyles";

.banner-slide {
  overflow: hidden;
  width: 100%;
  height: 100%;
  .img-banner {
    text-align: center;

    img {
      width: 100%;
      height: 100%;
    }
  }

  @include mobile {
    border: 1px solid #ffffff;
    border-radius: 8px;

    .slide-item {
      height: 147px;
      overflow: hidden;

      img{
        object-fit: cover;
      }
    }
  }
}

.banner{
  .banner-slide{

    border: none;
    border-radius: 0;
  }
}